.footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    max-width: 1440px;
    padding: 0 40px;
    margin: 40px auto 0 auto;
    background: white;
    font-size: 12px;
    color: var(--grisDark);
}
