.mainWrapper {
  display: flex;
  max-width: 1113px;
  min-height: 65vh;
  margin: auto;

  .conversations {
    width: 376px;
    padding: 8px;
    background: white;

    .back {
      width: 100%;
      height: 68px;
      display: flex;
      align-items: center;

      button {
        width: 93px;
        height: 36px;
        background: var(--grisLight);
        padding: 8px 16px;
        border-radius: 10px;
        display: flex;
        align-items: center;
      }
    }
    h1 {
      font-size: 32px;
      margin-bottom: 16px;
    }
  }

  .messages {
    flex: 1;
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .messageDate {
        width: 100%;
        text-align: center;
        font-size: 8px;
        border-bottom: 1px solid var(--grisDark);
        position: relative;
        margin: 24px 0;

        span {
            display: block;
            width: 90px;
            background: var(--lightOrange);
            position: absolute;
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
            color: var(--grisDark);

        }
    }

    .backToList {
      display: none;
    }

    .messageForm {
        height: 137px;
        background: white;
        padding: 20px 30px;
        position: relative;

        .messageInput {
            border: 1px solid var(--grisLight);
            border-radius: 10px;
            width: 100%;
            height: 100%;
            padding: 10px;
        }
        .sendButton {
            position: absolute;
            bottom: 29px;
            right: 44px;
        }
    }
  }
}

@media screen and (max-width: 1021px) {
  .mainWrapper {
    flex-direction: column;

    .conversations,
    messages {
      width: 100%;
    }

    .messages {
      .backToList {
        display: block;
      }
    }
    .conversations {
      display: none;
    }
  }
}
